<form [formGroup]="searchForm" (submit)="onSubmitForm()" (reset)="onResetForm()">

  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input formControlName="search" matInput placeholder="Search..." type="search">
  </mat-form-field>

  <button mat-button mat-icon-button color="primary" [disabled]="searchForm.invalid">
    <mat-icon matSuffix>search</mat-icon>
  </button>

  <button type="reset" [disabled]="!isSearching" mat-button mat-icon-button color="primary">
    <mat-icon matSuffix>clear</mat-icon>
  </button>
</form>

<mat-list dense role="list">
  <ng-container *ngFor="let person of people">
      <app-person [person]="person"></app-person>
  </ng-container>
</mat-list>

<mat-paginator *ngIf="pageLength > pageSize" showFirstLastButtons="true" hidePageSize="true" [length]="pageLength" [pageSize]="pageSize" (page)="onClickPagination($event)"></mat-paginator>